{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/styles/home.css">
{% endblock %}

{% block title %}
Home
{% endblock %}

<!--see navbar.html for navbar code-->
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% for magazine in magazines %}
            <div class="card border border-secondary mb-3">
                <div class="col-4">
                    <h3 class="px-2 py-2 card-title">{{ magazine.title }}</h3>
                </div>
            </div>
            {% endfor %}
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
            <h3>Hi</h3>
        </div>
        <div class="col-sm-6">
            <div style="top:74px" class="border border-secondary info-box sticky-top">
                <p class="p-2">there</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}	