{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/styles/home.css">
{% endblock %}

{% block title %}
Home
{% endblock %}

<!--see navbar.html for navbar code-->
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 border border-primary">
            {% for magazine in magazines %}
            <div class="border border-secondary">
                <p class="p-2">{{ magazine.title }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-6 border border-primary mag-box d-fixed-top">
            <p class="p-2">there</p>
        </div>
    </div>

</div>
{% endblock %}	