{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/styles/home.css">
{% endblock %}

{% block title %}
Home
{% endblock %}

<!--see navbar.html for navbar code-->
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 pt-3">
            {% for magazine in magazines %}
            <div class="card mb-3 border-0 mag-box">
                <a class="card-title mag-title">{{ magazine.title }}</a>
            </div>
            {% endfor %}
     
        </div>
        <div class="col-sm-8 border-start border-dark border-1">
            <div style="top:74px" class="info-box sticky-top">
                <div class="about border-bottom border-dark border-1 pt-3 mx-2 about d-flex align-items-center">
                    <div>About Cl&ograve</div>
                    <div class="d-inline-flex align-items-center">
                        <div class="sml-txt gry-txt">Supporting independent Scottish magazines</div>
                        <img style="max-height:45px" src="{% static 'logos/clo-logomark.png' %}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}	