
<div class="container d-inline-flex align-items-baseline">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top align-items-center">
        <div class="col-8 border-bottom border-dark border-3 d-inline-flex justify-content-around nav-col">
            <div class="links d-inline-flex">
                <a class="nav-link px-auto" href="">Log In</a>
                <a class="nav-link px-auto" href="">Sign Up</a>
            </div>
            <a class="navbar-brand" href="/">Magazine hub</a>
        </div>
        <div class="col-4 d-inline-flex justify-content-center pb-2">
            <form class="form-inline d-inline-flex" >
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-auto" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
</div>
