<div style="flex-direction:column; height:90vh; overflow:auto;" class="d-flex justify-content-between">
    <div class="accordion d-flex justify-content-center">
        <div class="accordion-item" id="Magazines">
            <a class="accordion-link" href="{% url 'home:home' %}#Magazines">
                All Magazines
            </a>

            <div class="answer">
                <div class="d-flex justify-content-center">
                    <div style="min-width:80%;" class="border-bottom border-dark border-1 mx-2 mb-4 py-0 d-flex align-items-end justify-content-center">
                        <div style="text-align:center;" class="card-title mb-0 xsml-txt gry-txt">Type to search magazines, topics and categories</div>
                    </div>
                </div>
                {% for magazine in magazines %}
                <div class="card text-center mb-3 border-0 mag-box">
                    <div class="card-body">
                        <a href="{% url 'home:magazine' magazine.id %}" class="card-title mag-title" id="{{magazine.id}}">{{magazine.title}}</a>
                        <div class="card-text gry-txt sml-txt">
                            {% for hashtag in magazine.hashtag_set.all%}
                            {{ hashtag }} &#160
                            {%  endfor %}

                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>

        <div class="accordion-item" id="Membership">
            <a class="accordion-link" href="{% url 'home:membership' %}#Membership">
                Membership
            </a>

            {% if user.is_authenticated %}
            <div class="answer">
                <div class="mag-box justify-content-center align-items-center">
                    <a href="{% url 'home:myprofile' %}" class="card-title mem-title" id="mprof">My Profile</a>
                </div>

                <div class="mag-box justify-content-center align-items-center">
                    <a href="{% url 'home:mymagazines' %}" class="card-title mem-title" id="mmags">My Magazines</a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="accordion-item" id="Contact">
            <a class="accordion-link" href="{% url 'home:contact' %}" class="card-title con-title" id="con">
                Contact
            </a>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="login">
        <a class="lout" href="{% url 'home:signout' %}">Sign Out</a>
    </div>
    {% else %}
    <div class="login">
        <a class="lin" href="{% url 'home:login' %}">Log In</a>
    </div>
    {% endif %}

</div>
