<!DOCTYPE html>

<div id="allmagazineswrapper">


      <div class="d-flex justify-content-center">
            <div style="min-width:80%;" class="border-bottom border-dark border-1 mx-2 mb-4 py-0 d-flex align-items-end justify-content-center">
                <div style="text-align:center;" class="card-title mb-0 xsml-txt gry-txt">Type to search magazines, topics and categories</div>
            </div>
      </div>
     {% for magazine in magazines %}
    <div class="card text-center mb-3 border-0 mag-box">
        <div class="card-body">
            <a href="{% url 'home:magazine' magazine.id %}" class="card-title mag-title basic_link" id="{{magazine.id}}">{{magazine.title}}</a>
            <div class="card-text gry-txt sml-txt">
                {% for hashtag in magazine.hashtag_set.all%}
                {{ hashtag }} &#160
                {%  endfor %}

            </div>
        </div>
    </div>
    {% endfor %}

</div>