<!DOCTYPE html>

<div id="allmagazineswrapper">


      <div class="d-flex justify-content-center">
            <div style="min-width:80%;" class="border-bottom border-dark border-1 mx-2 mb-4 py-0 d-flex align-items-end justify-content-center">
                <div style="text-align:center;" class="card-title mb-0 xsml-txt gry-txt">Type to search magazines, topics and categories</div>
            </div>
      </div>
     {% for magazine in magazines %}
            <div class="mag_list_element">
                <img class="mag_list_cover_image" src="{{ magazine.mag_cover.url }}" />


                <div class="mag_list_text all_mags">
                    <a href="{% url 'home:magazine' magazine.id %}" class="mag_list_title basic_link">
                        {{ magazine.title }}
                    </a>

                    <div class="hashtags">
                        {% for hashtag in magazine.hashtag_set.all %}
                        <hashtag> {{ hashtag }}, &#160 </hashtag>
                        {% endfor %}
                    </div>
                </div>



            </div>
            <div class="mag_list_line"></div>
    {% endfor %}

</div>