<!DOCTYPE html>

<div id="allmagazineswrapper">


      <div>
          <input type="text" id="searchBar" onkeyup="searchBarFunction()" placeholder="search magazines or topics">
      </div>
     {% for magazine in magazines %}
            <div class="mag_list_element">
                <img class="mag_list_cover_image" src="{{ magazine.mag_cover.url }}" />


                <div class="mag_list_text all_mags">
                    <a href="{% url 'home:magazine' magazine.id %}" class="mag_list_title basic_link">
                        {{ magazine.title }}
                    </a>

                    <div class="hashtags">
                        {% for hashtag in magazine.hashtag_set.all %}
                        <hashtag> {{ hashtag }}, &#160 </hashtag>
                        {% endfor %}
                    </div>
                </div>



            </div>
            <div class="mag_list_line"></div>
    {% endfor %}

</div>