.info-box {
    height: 90vh !important;
}

.mag-title{
    text-align: center;
    text-decoration:none;
    color:black;
}

.mag-title:hover {
    color: #ffcf01;
    transition: color 0.1s ease
}

.mag-box {
    background-color: blue;
    min-height: 100px;
    display:flex;
    align-content: center;
}

.about {
    display:flex;
    justify-content:space-between;
}