.info-box {
    height: 85vh !important;
    max-width: 95%;
}

.mag-title{
    text-align: center;
    text-decoration:none;
    color:black;
}

.mag-title:hover {
    color: #ffcf01;
    transition: color 0.1s ease
}

.mag-box {
    min-height: 100px;
    display:flex;
}

.about {
    display:flex;
    justify-content:space-between;
}

.info {
    position: absolute;
    bottom: 0;
}

.selected {
    color: #ffcf01;
}