.info-box {
    top: 60px;
    height: 85vh;
    max-width: 95%;
    width: 95%;
    flex-direction: column;
}

.mag-title{
    text-align: center;
    text-decoration:none;
    color:black;
}

.mag-title:hover {
    color: #2F52E0;
    transition: color 0.1s ease
}

.mag-box {
    min-height: 100px;
    display:flex;
}

.about {
    display:flex;
    justify-content:space-between;
}

.logo-tag {
    width: auto;
    float: right;
}

.info {
    overflow-y:auto;
}

.issues {
    flex-grow: 1;
}

.issue-link {
    text-align: center;
    text-decoration: none;
    color: black;
}

.issue-link:hover {
    color: #2F52E0;
    transition: color 0.1s ease
}

.issue-box {
    position: absolute;
    background-color: white;
    height: 0px;
    width: 0px;
    right: 8vw;
    top: 11vh;
    opacity: 0;
}

.show-issue {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 450px;
    opacity: 1;
    transition: opacity 0.4s ease;
    padding: 10px;
    box-shadow: 5px 5px 8px rgb(0 0 0 / 0.75);
}

.yellow {
    color: #2F52E0;
}

.accordion {
    flex-direction:column;
    justify-content:center;
    align-content:space-between;
    height: 100%;
}

.accordion-item {
    display: flex;
    align-content: center;
    justify-content:center;
    flex-direction:column;
    background-color: #E8E5E2 !important;
    margin-bottom: 0px;
    width: 100%;
    min-height: 90px;
    border:0 !important;
}

.accordion-link {
    text-align:center;
    text-decoration: none;
    color: black;
    width: 100%;
}

.answer{
    text-align:center;
    max-height:0;
    overflow: hidden;
    position:relative; 
    transition: max-height 200ms ease;
}

.accordion-item:target .answer {
    max-height: 90vh;
    overflow-y: auto;
    padding: 15pt;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.accordion-item:target .accordion-link {
    padding: 15pt;
    color: #2F52E0;
}

.login {
    display:flex;
    align-items:center;
    justify-content:center;
    height:90px;
    margin-bottom:20px;
}

.lin {
    color: #2F52E0;
}

.lout {
    color: gray;
}

body{
    overflow-x:hidden;
}

#mainbox {
    flex-direction:column;
    min-height: 95vh;
    height:auto;
}

@media only screen and (max-width: 470px) {

    .logo-tag {
        display:none !important;
    }

}