/*General*/
*{
	margin: 0px;
	padding: 0px;
}

*{
	font-size: 2.5vh;/*  relative to viewpoint's height - so that the app looks good
	on both vertically and horizontally held mobile devices  */
}

#mainwrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

}


#logo-bar{
	padding: 0.5em;
	display: block;
	top: 0;
	height: 10%;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	border-bottom: solid black;
	border-bottom-width: thin;
	z-index: 999;
}

#logo-image{
	display: block;
	height:auto;
	width:3em;
	margin-left: auto;
	margin-right: auto;

}

.basic_link{
	text-decoration-line: none !important;
}




/*basic form e.g. sign up or login*/

.basic_form{
	width: 100%;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#ask_to_login_after_membership_clicked{
	display: none;


}

/*Login*/
#login-form{
	margin-top: 3em;
}


/*Homepage*/



.menuwrapper{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	row-gap: 0;
	border-bottom: solid black;
	border-width: thin;

}





.menutext{
	text-decoration: none ;
	color: inherit;
	text-underline: none ;
	font-size: 1.4em !important;
	font-weight: 570;

}

.menuelement a{
	height: 100%;
	text-decoration: none ;
	color: inherit;
	text-underline: none ;
	font-size: 1.4em !important;
	font-weight: 570;
	size: inherit;
	transition: 0.4s;

}



.menuelement{

	width: 100%;
	border-top: solid black;
	border-width: thin;
	padding-top: 0.6em;
	padding-bottom:0.6em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.closeicon{
	margin-right: 1.5em;
	opacity: 0%;
	transition: opacity 0.1s;

}

.closeicondummy{
	margin-left: 1.5em;
	opacity: 0%;
}


.hiddenpanel {
	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.4s ease-out;
	text-align: center;
}




#aboutclo{
	max-height:initial;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
	text-align:left;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}




 input, .btn{
 	border-radius: 0.2em !important;
 	border-width:0.1em;
	width:80%;
	clear:both;
	background-color:#E8E5E2;

}

input[type=submit]{
	width:20%;
	background-color:#2F52E0;
	color:white;
	position:center;
	min-width: max-content;
}



/*Contact*/

#contact{
	padding-right: 0.7em;
	padding-left: 0.7em;
}

/*Membership menu as a submenu - NOT IN USE  */

/*.membership_element div {*/

/*	width: 100%;*/
/*	font-size: 1.2em;*/
/*	margin-top: 0.6em;*/
/*	margin-bottom: 0.6em;*/

/*	font-weight: 400;*/

/*}*/

/*.membership_hidden_panel{*/
/*	max-height: 0;*/
/*  	overflow: hidden;*/
/*  	transition: max-height 0.4s ease-out;*/

/*}*/

/*#membership_outer_hidden_panel{*/
/*	margin-bottom: 0em !important;*/



/*}*/


/*.membership_menu_line{*/
/*	margin: 0;*/
/*	width: 60%;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*	opacity: 1;*/
/*	border: 0;*/
/*	border-top: 1px solid !important;*/
/*	z-index: 99;*/


/*}*/


/*Membership as a separate page*/

#backbutton a{
	height: 100%;
	width: 100%;
	text-decoration: none ;
	color: rgb(44,84,232);
	text-underline: none ;
	font-size: 1.4em !important;
	font-weight: 570;
	size: inherit;
	transition: 0.4s;
}


#backbutton {
	border-bottom: solid black;
	border-width: thin;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	width: 100%;
	text-align: center;
}

#membershipinfo{
	max-height:0;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
	text-align:center;
    overflow: hidden;
    transition: max-height 0.4s ease-out;

}

/*My profile*/

