.info-box {
    top: 60px;
    height: 85vh;
    max-width: 95%;
    width: 95%;
    flex-direction: column;
}

.page-title{
    text-align: center;
    text-decoration:none;
    color:black;
}

.page-title:hover {
    color: #ffcf01;
    transition: color 0.1s ease;
}

.page-list {
    min-height: 100px;
    display:flex;
}

.info {
    overflow-y:auto;
}

.issues {
    flex-grow: 1;
}

.yellow {
    color: #ffcf01;
}

.button{
    color:white;
    border:none;
    border-radius: 4px !important;
    background:#4d79ff;
}

.button:hover{
    color: white;
    background-color: #99b3ff;
    transition: background-color 0.5s ease
}

.sign-out{
    text-align: center;
    text-decoration:none;
    color:grey;
    text-decoration:underline;
}

.sign-out:hover{
    color: #ff6666;
    transition: color 0.1s ease;
}

body{
    overflow-x:hidden;
}

#mainbox {
    flex-direction:column;
    min-height: 100vh;
    background-color: white;
    height:auto;
}

.container{
	width:500px;
	clear:both;
	margin-left:auto;
	margin-right:auto;
}

.container input{
	width:100%;
	clear:both;
}